# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env

# Build files
client/build/
server/dist/

# Firebase
server/firebase-service-account.json

# IDE
.vscode/
.DS_Store